.main {
  text-align: center;
  margin: 30%;
}

button {
  margin: 1rem;
  background-color: skyblue;
  border-radius: 1rem;
  padding: 4px;
}

ol {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

li {
  text-align: center;
  margin-right: 1.2rem;
}
